@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

body {
	margin: 0 auto;
	font: 20px 'Droid Serif';
	font-weight: 400;
	color: #000000;
}

h1 {
	text-align: center;
	font-weight: 300;
	font-size: 40px;
	margin: 0;
	padding-bottom: 30px;
}

header {
	background-color: #ffab00;
	position: fixed;
	width: 100%;
	z-index: 2;
	height: 86px;
}

div#header-title {
	padding: 30px;
	display: inline-block;
	float: left;
	font-weight: 900;
	color: white;
	text-transform: uppercase;
}

div#header-title a:link, div#header-title a:visited {
	color: white;
	text-decoration: none;
}

div#header-title a:hover {
	color: #ff6500;
	text-decoration: none;
}

nav {
	padding: 30px;
	display: inline-block;
	float: right;
}

nav a:link, nav a:visited  {
    color: white;
    text-decoration: none;
}

/* mouse over link */
nav a:hover {
    color: #ff6500;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 5px solid #ffffff;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin-left: 30px;
}

/* Main */

main {
	padding-top: 86px;
	width: 100%;
	background-color: #ffffff;
}

section#welcome {
	width: 100%;
	height: 400px;
	background-image: url(images/welcome.jpg);
	background-position: center;
	position: relative;
}

div#welcome-text {
	position: absolute;
	top: 35%;
	left: 18%;
	color: black;
	font-weight: 300;
	font-size: 40px;
}

section.about-section {
	padding: 30px;
	background-color: #ffffff;
}

section.about-section h1 {
	color: #ffab00;
}

section.fun-section {
	width: 100%;
	background-color: #a52a3f;
}

section.fun-section h1 {
	color: #ffab00;
}

div.three-items {
	display: block;
	text-align: center;
	width: 100%;
}

div.item-paddings {
	padding: 30px;
}

div.an-item {
	display: inline-block;
	width: 33%;
}

div.item-content {
	padding-right: 30px;
}

div.item-text {
	padding-top: 30px;
	text-align: justify;
	color: black;
}

img.circle {
	border-radius: 100%;
	height: 150px;
}